<ion-content class="main-content">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-subtitle>
      <ion-card-title class="ion-margin-bottom">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-title>
      <ion-card class="tutorial">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
