<ion-header>
  <ion-toolbar>
    <ion-title>{{argument.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      {{argument.text}}
      <ion-grid>
        <ion-button shape="round" size="small" fill="outline" color="medium"
                    (click)="dialog.presentSources(argument.source)">
          <ion-icon slot="start" name="link"></ion-icon>
          Quellen
        </ion-button>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
