<ion-list>
    <ion-list-header>Made with ❤︎ by heichling.xyz</ion-list-header>
    <ion-item button (click)="openAbout()">
        <ion-label>
            Über & Impressum
        </ion-label>
    </ion-item>
</ion-list>
<ion-button expand="block" color="primary" (click)="close()">Schließen</ion-button>
