<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      🤔 kontra.app
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="aboutPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-skeleton *ngIf="!playlist"></app-skeleton>

<ion-content *ngIf="playlist" #ionContent fullscreen="true">
  <ion-segment color="primary" class="main-content" scrollable (ionChange)="segmentChanged($event)"
               [value]="selectedSegment">
    <ion-segment-button value="refugee">
      <ion-label>🏃‍♀️Flüchtlinge</ion-label>
    </ion-segment-button>
    <ion-segment-button value="climate" class="category-changer" disabled>
      <ion-label>🌍Klima</ion-label>
    </ion-segment-button>
    <ion-segment-button value="racism" class="category-changer" disabled>
      <ion-label>🧑🏻‍🤝‍🧑🏿Rassismus</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card class="main-content">
    <ion-card-header>
      <ion-card-subtitle>Schluss mit populistischen Behauptungen</ion-card-subtitle>
      <ion-card-title class="ion-margin-bottom">Wähle eine These aus um sie zu entkräften.</ion-card-title>
      <ion-card *ngIf="installTip" class="tutorial ion-no-margin">
        <ion-card-content>
          Diese Web App ist eine "PWA". Du kannst sie deinem Startbildschirm hinzufügen um sie auch ohne
          Internet zu verwenden. Klicke dazu auf das
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="notice-icon"></ion-icon>
          Menü deines Browsers und dann
          <ion-icon slot="icon-only" name="add-outline" class="notice-icon"></ion-icon>
          "Zum Startbildschirm hinzufügen". <u (click)="dialog.pwaAlert()">Klicke hier für weitere Infos.</u>
        </ion-card-content>
      </ion-card>
    </ion-card-header>
    <ion-card-content>
      <ion-card *ngFor="let argument of playlist; let i = index" [id]="i.toString()" class="ion-margin-bottom">
        <ion-card-header (click)="showArgumentDetails(argument)">
          <ion-card-title class="argument-title" [color]="argument == activeTrack ? 'primary' : ''">
            {{argument.name}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="medium" class="argument-wrap ion-margin-bottom">{{argument.text}}</ion-text>
          <ion-progress-bar *ngIf="platformIsNotIos && (argument == activeTrack)"
                            [value]="progress / 100" [buffer]="bufferProgress / 100" color="primary">
          </ion-progress-bar>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button color="medium" size="small" fill="clear" (click)="shareTrack(argument.name, i)">
                  <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                </ion-button>
                <ion-button color="medium" size="small" fill="clear" (click)="showArgumentDetails(argument)">
                  <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="play-button-col">
                <ion-button color="primary" shape="round" (click)="start(argument, i)">
                  <ion-icon slot="icon-only" name="play-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="activeTrack" [hidden]="!showPlayer">
  <ion-toolbar class="animated fadeInUp">
    <ion-row>
      <ion-col *ngIf="platformIsNotIos" size="2">
      </ion-col>
      <ion-col *ngIf="!platformIsNotIos" size="2" class="ion-text-center ion-padding-top">
        {{ seek | minuteSeconds }}
      </ion-col>
      <ion-col size="8" class="ion-text-center ion-padding-top ion-align-items-center">
        {{ activeTrack.name }}
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small" (click)="showPlayer = !showPlayer; referral = false" class="close-button">
          <ion-icon slot="icon-only" color="primary" name="close"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="platformIsNotIos" size="2" class="ion-text-center timeStamp ion-no-padding">
        {{ seek | minuteSeconds }}
      </ion-col>
      <ion-col [size]="platformIsNotIos ? '8' : '12'" class="ion-no-padding">
        <ion-range #range [(ngModel)]="progress" max="100" color="primary" (touchend)="changeSeek()"
                   (mouseup)="changeSeek()">
        </ion-range>
      </ion-col>
      <ion-col *ngIf="platformIsNotIos" size="2" class="ion-text-center timeStamp ion-no-padding">
        {{ songDuration | minuteSeconds }}
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-no-padding">
        <div *ngIf="platformIsNotIos" class="playback-speed-button-wrapper">
          <span class="playback-speed-value">{{ playbackSpeed }}x</span>
          <ion-button fill="clear" (click)="toggleSpeed()">
            <ion-icon slot="icon-only" name="timer-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-button fill="clear" (click)="prev()">
          <ion-icon slot="icon-only" name="play-skip-back-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying"
                    [class]="!isPlaying && referral ? 'takeActionButton' : ''">
          <ion-icon slot="icon-only" name="play-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying">
          <ion-icon slot="icon-only" name="pause-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="next()">
          <ion-icon slot="icon-only" name="play-skip-forward-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="shareTrack(activeTrack.name, trackId)">
          <ion-icon slot="icon-only" name="share-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-fab [hidden]="!activeTrack || showPlayer || referral" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="showPlayer = !showPlayer" color="primary" translucent="true">
    <app-equalizer-icon *ngIf="isPlaying"></app-equalizer-icon>
    <ion-icon *ngIf="!isPlaying" name="play"></ion-icon>
  </ion-fab-button>
</ion-fab>

<web-social-share (closed)="webSocialShare.onClosed()" [show]="webSocialShare.show" [share]="webSocialShare.share">
  <ion-icon class="icon-share" name="logo-facebook" slot="facebook" style="color:  #3b5998"></ion-icon>
  <ion-icon class="icon-share" name="logo-twitter" slot="twitter" style="color: #00aced;"></ion-icon>
  <ion-icon class="icon-share" name="logo-whatsapp" slot="whatsapp" style="color: #25D366"></ion-icon>
</web-social-share>
