.argument-title {
  font-weight: bold;
}

.play-button-col {
  display: contents;
}

.argument-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeStamp {
  padding-top: 25px;
}

.playback-speed-button-wrapper {
  display: inline-block;
  position: relative;
}

.playback-speed-value {
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  opacity: 0.7;
  font-size: 11px;
}

.icon-share {
  font-size: 55px;
  display: block;
}

.notice-icon {
  font-size: 20px;
  vertical-align: top;
}

.tutorial {
  border-style: solid;
  border-width: 1px;
  border-color: var(--ion-color-primary);;
}

.close-button {
  position: absolute;
  left: 0;
}

.category-changer {
  color: var(--ion-color-primary) !important;
}
